.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
/*    grid-template-areas: 
        "h h h h h h h h h h h h"
        "q q q q q q a a a a a a";
*/
}

.header {
    grid-area: h;
    font-size: 8px;
}

.quotes {
    grid-area: q;
}

.add_quote {
    grid-area: a;
}